* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.word-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ccc;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  width: 50%;
  font-size: 16px;
  box-shadow: 0 0 10px #ccc;
}

.word-count h1 {
  color: #ccc;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.word-count #textarea {
  width: 50%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

#wordCount {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}
